@import "variables";
@import "mixins";


.button {
	@include button;
}
.button--news {
	@extend .button;
	color: $newsColor;
	border-color: $newsColor;
	&:hover{
		color: $backColor;
	border-color: $newsColor;
		transform: scale(1.3);
		background-color: $newsColor;
	}
}
.button--send{
	@extend .button;
	&:hover{
		color: $backColor;
		background-color: $accentColor;
		border-color: $accentColor;
	}
}
.button--cancel{
	@extend .button;
	&:hover{
		color: $backColor;
		background-color: $textColor;
		border-color: $textColor;
	}
}