@import "variables";
@import "mixins";



.content{
	@media only screen and (min-width: 1024px){
			padding-bottom: $pm25;
			margin-bottom: $pm25;
		}

	.content__title{
		@include title;
	}
	.content__text {
		padding: $pTextMob;
		a{
			color: $accentColor;
			font-weight: $medium;
		}
		@media only screen and (min-width: 768px){
			.headerNav__title{
				padding: $pTextDesk;
				margin: $pm20;
			}
		}
	}
	.content__img{
		width: $img;
		padding: $pm10;
		&:hover{
			transition: 1s;
			transform: scale(0.95);
		}
	}
	.content__img--size{
		width: $profileImg;
		height: auto;
		padding-bottom: $pm20;
		@media only screen and (min-width: 1024px){
			width: $profileImgDesk;
			padding-bottom: $pm25;
			margin-bottom: $pm25;
		}
	}
}