@import "variables";




.contactForm{
	justify-content: center;
	@media only screen and (min-width: 1024px){
			margin-left: $pm50;
		}
	.contactForm__title{
		@include title;
		color: $titleColor;
	}
	.contactForm__option select{
		color: $textColor;
	}
	.contactForm__radio label{
		font-size: $pMob;
		padding: $pLabel;
	}
	.contactForm__data input, .contactForm__option select, .contactForm__text textarea{
		border: none;
		border-radius: 5px;
		margin: $pm5;
		background-color: $formColor;
			width: 100%;
		@media only screen and (min-width: 768px){
			width: 80%;
		}
	}

	.contactForm__info{
		justify-content: center;
		padding: $pm20;
		margin: $pm5;
	}
	.contactForm__img img{
		@media only screen and (min-width: 1024px){
			width: 80%;
		}
	}
}