@import "variables";
@import "maps";


.footer__background--color{
	background-image: linear-gradient( map-get($color, backColor), map-get($color, mainColor));
}
.footer{
	width: 100%;
	display:flex;
	justify-content: space-around;
	align-items: center;
	padding: $pm25 $pm0;
	.footer__text a{
		color: map-get($color, accentColor);
		font-weight: $medium;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.footer__img{
		width: $logoFoot;
		height: auto;
		@media only screen and (min-width: 768px){
			width: $logoFoot *2;
		}
	}
	.footer__socialMedia__icon{
		width: $icon;
		margin: $pm5/2;
		&:hover{
			transform: scale(1.2);
		}
		@media only screen and (min-width: 768px){
			width: $icon *1.5;
		}
	}
}
