@import "variables";

*{
	margin: $pm0;
	padding: $pm0;
	list-style-type: none;
	text-decoration: none;
	align-items: center;
}
html{
	font-size: 62.5%;
}

body{
	width: 100%;
	background-color: $backColor;
	color: $textColor;
	text-align: center;
	justify-content: center;
	font:{
		family: $mainFont;
		weight: $light;
		size: $pMob;
	}
	@media only screen and (min-width: 768px){
		font-size: $pTab;
	}
	@media only screen and (min-width: 1024px){
		font-size: $pDesk;
	}
	img{
		max-width: 100%;
		height: auto;
		border-radius: 5%;
	}
	.index__background--img{
		background-image: url("../assets/img/general/bckgImg.png"); 
		background-size: $img;
	}
	.index__background--color{
		background-color: $mainColor;
		border-bottom: $introColor solid 5px;
		margin-top: $pm50;
	}
	.intro, .content, .projectData, .contactForm{
		align-items: center; 
		justify-content: center;
		padding: $pContainerMob;
		@media only screen and (min-width: 1024px){
			padding: $pContainerDesk;
		}
	}
	form.contactForm,.row.contactForm.index__background--color.aos-init, .footer__index, .row.contactForm.index__background--color.aos-init.aos-animate, .col-lg-12.col-sm-12.col-xs-12, .row.contactForm.index__background--color.aos-init.aos-animate, .row.projectData, .row.content, body, .row.index__background--img{
		max-width: 100%;
		margin: 0;
		padding:0;
	}
}








