@import "variables";


.index__headerNav, .headerNav{
	align-items: center;
	.headerNav__img{
		width: $logo;
		height: auto;
		padding-top: $pm20;
	}

	.headerNav__title{
		display: none;
		@media only screen and (min-width: 1024px){
			color: $accentColor;
			font:{
				family: $brandFont;
				size: $signature;
			}
			line-height: $introTMob;
			display: inline-block;
		}
	}

	.headerNav__navbar{
		@media only screen and (min-width: 1024px){
			display: inline-flex;
		}
		.nav-item{
			font-size: $menuMob;
			margin: $pm10;
			@media only screen and (min-width: 768px){
				font-size: $menuTab;
				margin-right: $pm25;
			}
			@media only screen and (min-width: 1024px){
				font-size: $menuDesk;
				margin-right: $pm25;
			}
			a{
				color: $textColor;
				font-weight: $regular;
			}
			&:hover{
				transform: scale(1.2);
			}
		}
		.active{
			@extend .nav-item;
			a{
				color: $accentColor;
				font-weight: $medium;
			}
		}
	}
}

.headerNav--color{
	background-image: linear-gradient($mainColor, $backColor);	
}