@import "variables";
@import "mixins";


.intro{
	.intro__title{
		@include intro;
		color:$introColor;
		padding-top: $pm50;
	}
	.intro__text{
		font-size: $introPMob;
		padding: $pIntroMob;
		@media only screen and (min-width: 768px){
			font-size: $introPTab;
			padding: $pTextDesk;
		}
		@media only screen and (min-width: 1024px){
			font-size: $introPDesk;
			padding: $pTextDesk;
		}
	}
	.modal-title{
		font:{
			size: $tDesk;
			weight: $xBold;
		}
		color:$introColor;
	}
	.button{
		margin-bottom: $pm25;
		@media only screen and (min-width: 1024px){
			margin-bottom: $pm50;
		}
	}
}