@import "variables";
@import "maps";
@import "mixins";


.intro{
	.intro__title{
		@include intro;
		color: map-get($color, introColor);
	}
	.intro__text{
		font-size: $introPMob;
		padding: $pIntroMob;
		@media only screen and (min-width: 768px){
			font-size: $introPTab;
			padding: $pTextDesk;
		}
		@media only screen and (min-width: 1024px){
			font-size: $introPDesk;
			padding: $pTextDesk;
		}
	}
	.modal-title{
		font:{
			size: $tDesk;
			weight: $xBold;
		}
		color: map-get($color, introColor);
	}
}