//map
$color:(
	backColor: $backColor,
	mainColor: $mainColor,
	textColor:$textColor,
	accentColor:$accentColor,
	titleColor: $titleColor,
	introColor: $introColor,
	formColor: $formColor,
	newsColor: $newsColor
);

$weight:(
	light: $light,
	regular:$regular,
	medium: $medium,
	bold: $bold,
	xBold: $xBold
);

$sizeMob:(
	menuMob: $menuMob,
	introTMob: $introTMob,
	introPMob: $introPMob, 
	tMob: $tMob, 
	pMob: $pMob
);

$sizeTab:(
	menuTab: $menuTab,
	introTTab: $introTTab,
	introPTab: $introPTab, 
	tTab: $tTab, 
	pTab: $pTab
);

$sizeDesk:(
	signature: $signature, 
	menuDesk: $menuDesk,
	introTDesk: $introTDesk,
	introPDesk: $introPDesk, 
	tDesk: $tDesk, 
	pDesk: $pDesk
);

$image:(
	logo: $logo,
	icon: $icon,
	img: $img,
	cardDesk: $cardDesk,
	profileImg: $profileImg,
);

$padMarg:(
	pm0: $pm0,
	pm5: $pm5,
	pm10: $pm10,
	pm15: $pm15,
	pm20: $pm20,
	pm25: $pm25,
	pContainerDesk: $pContainerDesk,
	pContainerMob: $pContainerMob,
	pTextMob: $pTextMob,
	pTextDesk: $pTextDesk
);