@import "variables";
@import "mixins";




.projectData{
	justify-content: center;
	.projectData__card__content__title, .projectData__content__title{
		@include title;
		color: $accentColor;
		background-color: $mainColor;
	}
	.projectData__card{
		margin: $pm10;
		@media only screen and (min-width: 1024px){
			width: $cardDesk;
			display: inline-block;
		}
		.projectData__card__img{
			background-color: $mainColor;
			padding: $pm20;
			border-radius: 0%;
		}
		.projectData__card__content{
			width: $img;
			height: auto;
			padding: $pm0;
			h2{
				padding: $pm20;
			}
		}
	}
	.projectData__content{
		padding: $pProject;
		.projectData__content__title{
			padding: $pm20;
		}
		.projectData__content__text{
			padding: $pTextMob;
			@media only screen and (min-width: 1024px){
				padding: $pTextDesk;
			}
			a{
				color: $accentColor;
				font-weight: $medium;
			}
		}
	}
	.projectData__list__title{
		color: $titleColor;
		font-size: $introPMob;
		margin: $pm15;
		@media only screen and (min-width: 1024px){
			font-size: $introPDesk;
		}
	}
	.projectData__img{
		max-width: $img;
		margin-top: $pm20;
		&:hover{
			transition: 1s;
			transform: scale(1.02);
		}
	}
}