//color
$backColor: #FFFBFA;
$mainColor: #F6DFD6;
$textColor:#575757;
$accentColor:#D69C93;
$titleColor: #B2B2B1;
$introColor: #EEC5B9;
$formColor: #FAEFEA;
$newsColor: #BB828E;

//fonts
@font-face {font-family: 'dreamOnly';src: url(../assets/fonts/DreamOnly.ttf);}
@font-face {font-family: 'reckless';src: url(../assets/fonts/reckless_sample.ttf);}
$mainFont: 'montserrat', sans-serif;
$brandFont: 'dreamOnly'; 
$introTFont: 'reckless';

//weight
$light: 300;
$regular:400;
$medium: 600;
$bold: 700;
$xBold: 800;

//size Mobile
$menuMob: 1.3rem;
$introTMob: 7rem;
$introPMob: 2rem;
$tMob: 2.5rem;
$pMob: 1.5rem;

//size tablet
$menuTab: 1.3rem;
$introTTab: 10rem;
$introPTab: 2.2rem;
$tTab: 2.5rem;
$pTab: 1.5rem;

//size desktop
$signature: 1.7rem; 
$menuDesk: 1.5rem;
$introTDesk: 14rem;
$introPDesk: 2.5rem; 
$tDesk: 3rem;
$pDesk: 2rem;

//size img
$logo: 150px;
$logoFoot: 35px;
$icon: 25px;
$img: 100%;
$cardDesk: 60%;
$profileImg: 80%;
$profileImgDesk: 50%;

//padding, margin
$pm0: 0px;
$pm5: 5px;
$pm10: 10px;
$pm15: 15px;
$pm20: 20px;
$pm25: 25px;
$pm50: 50px;
$pm100: 120px;
$pContainerDesk: 10px 50px;
$pContainerMob: 35px 10px;
$pProject: 30px 0px;
$pTextMob:15px 5px;
$pTextDesk: 15px 50px;
$pButton: 5px 10px;
$pIntroMob: 15px 25px; 
$pLabel: 0px 20px 0px 0px;