<!doctype html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Soy diseñadora, especializada en estampados textiles y desarrollo de producto. Ofrezco una amplia variedad de servicios para el rubro.">
		<meta name="keywords" content="diseñador, diseño, textil, indumentaria, moda, estampados, estampas, serigrafia, schablon, cilindro, rapport, producto, tendencias, temporadas, otoño-invierno, primavera-verano, aw, ss, coloración, paletas">

		<link rel="icon" href="../assets/img/logoMMX.svg">
		<title>Sobre mi - MMX Diseño</title>

		<!-- link to google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

		<!-- css AOS -->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		
		<!-- link to own CSS -->
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div class="container-fluid">
			<!-- empieza HEADER/NAV -->
			<div class="row  headerNav--color">
				<header class="col-lg-12 col-sm-12 col-xs-12 headerNav" id="top">
					<nav class="navbar navbar-expand-lg navbar-light">
						<a class="navbar-brand headerNav__img" href="../index.html" data-aos="zoom-in" data-aos-duration="3000">
							<img src="../assets/img/logoMMX.svg" width="100" class="d-inline-block align-top" alt="logo"> 
						</a>
						<h1 class="align-top headerNav__title">Maria Manuela Xifra</h1>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
							<ul class="headerNav__navbar ">
								<li class="nav-item">
									<a class="nav-link" href="../index.html">Home</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="about.html">Sobre mi<span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="services.html">Servicios</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="projects.html">Proyectos</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="contact.html">Contacto</a>
								</li>
							</ul>
						</div>
					</nav>
				</header>	
			</div>
			<!-- termina HEADER/NAV -->

			<!-- empieza sobre mi -->
			<div class="content gridContent">
				<div class="content__img uno" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/general/profile.jpg" alt="foto perfil">
				</div>
				<div class="dos" data-aos="fade-up" data-aos-duration="3000">
					<h3 class="content__title">Hola! Soy Manu</h3>
					<p class="content__text">Desde el año 2010 he trabajado en <b>desarrollo de producto</b> en la <b>industria textil</b> y de la <b>moda</b>, principalmente abocada al rubro de la <b>lencería y corsetería</b>, aunque no exclusivamente.</p>
					<p class="content__text">Me especializo en el <b>diseño de estampados, patrones, colorido</b>. Me apasiona el <b>diseño textil</b> en todas sus formas, aplicado a la indumentaria, la decoración y, ¿por qué no? artículos del hogar, no necesariamente solo textiles. Amo el diseño de interiores!</p>
				</div>
				<div class="content__img tres" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/general/desk.jpg" alt="Escritorio">
				</div>
				<div class="cuatro" data-aos="fade-up" data-aos-duration="3000">
					<p class="content__text"><b>Ingresé al rubro trabajando para la marca So Pink!, donde estuve a cargo del departamento de producto</b> durante 7 años, cuando comencé a maquinar la idea de trabajar por mi cuenta.</p>
					<p class="content__text">Aun así, estuve 2 años más a cargo del <b>desarrollo de producto y control de producción en Luz de Mar</b>, específicamente para las líneas Dreams, Loungewear y Her, antes de tomar formalmente la decisión de independizarme.</p>
					<p class="content__text">Gracias a esto puedo decir que entiendo la dinámica del rubro desde los aspectos del diseño, y aún más importante, desde la producción!</p>
				</div>
				<div class="content__img cinco" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/general/printUnicorn.jpg" alt="Dibujo unicornio">
				</div>
				<div class="seis" data-aos="fade-up" data-aos-duration="3000">
					<p class="content__text">Mi <b>estética en el diseño</b> es más bien orgánica, con un toque romántico, que es mi forma de ver la vida. Inspirada por la naturaleza, la música, la familia, los amigos, el afecto, la calidez, los ambientes relajantes, lo emocional y lo espiritual... 
	 				</p>
	 				<p class="content__text">Las costumbres y las tradiciones, lo clásico, y también lo distinto!, lo nuevo, lo actual, lo posible y lo imposible, lo muy personal, los sabores, las edades, los climas! Todos los climas! En fin, LA VIDA MISMA! </p>
	 				<p class="content__text">Así que, si estas interesado en conocer más de mi trabajo, o tienes alguna inquietud, <a href="../views/contact.html">contactate conmigo</a>. Será un placer conocernos!</p>
				</div>
			</div>	
			<!-- termina sobre mi -->

			<!-- empieza FOOTER -->
			<div class="row footer__background--color">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<footer class="footer">
						<a href="about.html#top">
							<img src="../assets/img/logoMMX.svg" alt="Logo" class="footer__img">
						</a>
						<div class="footer__socialMedia">
							<p class="footer__text">Seguime en</p>
							<a href="https://www.instagram.com/" target="_blank"><img src="../assets/img/logo-Ig.svg " alt="logo instagram" class="footer__socialMedia__icon"></a>
							<a href="https://www.facebook.com/" target="_blank"><img src="../assets/img/logo-Fb.svg " alt="logo facebook" class="footer__socialMedia__icon"></a>
							<a href="https://www.linkedin.com/in/mmxifra" target="_blank"><img src="../assets/img/logo-In.svg " alt="logo linkedin" class="footer__socialMedia__icon"></a>
						</div>
					</footer>
				</div>
				<div class="col-lg-12 col-sm-12 col-xs-12" class="footer__copy">
					<p class="footer__text">Diseño y desarrolo de <a href="https://www.linkedin.com/in/mmxifra" target="_blank">María Manuela Xifra</a><br>©Todos los derechos reservados.</p>			
				</div>	
			</div>
			<!-- termina FOOTER -->
		</div>

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

	<!-- js AOS -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script> 
		AOS.init();
	</script>
	</body>
</html>