<!doctype html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Una selección de desarrollos exclusivos para marcas con las que he trabajado, o estampados y desarrollos de línea disponibles.">
		<meta name="keywords" content="diseño, textil, indumentaria, moda, estampados, estampas,  rapport, producto, tendencias, temporadas, otoño-invierno, primavera-verano, aw, ss, coloración, so pink, luz de mar, lencatex, donna mia">

		<link rel="icon" href="../assets/img/logoMMX.svg">
		<title>Proyectos - MMX Diseño</title>

		<!-- link to google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

		<!-- css AOS -->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		
		<!-- link to own CSS -->
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div class="container-fluid">
			<!-- empieza HEADER/NAV -->
			<div class="row  headerNav--color">
				<header class="col-lg-12 col-md-12 col-xs-12 headerNav" id="top">
					<nav class="navbar navbar-expand-lg navbar-light">
						<a class="navbar-brand headerNav__img" href="../index.html" data-aos="zoom-in" data-aos-duration="3000">
							<img src="../assets/img/logoMMX.svg" width="100" class="d-inline-block align-top" alt="logo"> 
						</a>
						<h1 class="align-top headerNav__title">Maria Manuela Xifra</h1>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
							<ul class="headerNav__navbar ">
								<li class="nav-item">
									<a class="nav-link" href="../index.html">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="about.html">Sobre mi</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="services.html">Servicios</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="projects.html">Proyectos<span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="contact.html">Contacto</a>
								</li>
							</ul>
						</div>
					</nav>
				</header>	
			</div>
			<!-- termina HEADER/NAV -->

			<!-- empieza proyectos -->
			<div class="row projectData">

				<!-- desarrollos exlusivos -->
				<div class="col-lg-12 col-md-12 col-xs-12 projectData__content" id="custom" data-aos="fade-up" data-aos-duration="3000">
					<h2 class="projectData__content__title">Desarrollos exclusivos</h2>
					<p class="projectData__content__text">Desarrollo de producto exclusivo para clientes, amoldándose a sus necesidades. Ya sean:</p>
					<div class="projectData__list">
						<ul >
							<li><h3 class="projectData__list__title">Estampados rotativos</h3>
								<ul>
									<li>Medidas para <b>estampado por cilindro</b></li>
									<li>Medidas para <b>estampado por schablon</b> segun proveedor</li>
									<li>Especificaciones para <b>estampados sublimados o digitales</b></li>
									<li><b>Variantes de color</b> para cada estampado</li>
								</ul>
							</li>
							<li><h3 class="projectData__list__title">Diseño de producto</h3>
								<ul>
									<li><b>Análisis</b> inicial según el estilo de la marca</li>
									<li><b>Desarrollo de producto</b> incluyendo morfología, estampados, coloraciones, segun sea requerido. </li>
									<li><b>Asesoramiento</b> durante el proceso de desarrollo y/o producción</li>
								</ul>
							</li>
						</ul>
					</div>	
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/custom/soPink.jpg" alt="so pink">
					<h4>Desarrollo de producto <br>So Pink!</h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/custom/lencatex.jpg" alt="lencatex">
					<h4>Desarrollo de producto <br>Lencatex</h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/custom/ldmDreams.jpg" alt="luz de mar">
					<h4>Desarrollo de producto <br>Luz de mar</h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/custom/textilMix.jpg" alt="donna mia">
					<h4>Desarrollo de producto <br>Donna Mia</h4>
				</div>

				<!-- estampados de linea -->
				<div class="col-lg-12 col-sm-12 col-xs-12 projectData__content" id="line" data-aos="fade-up" data-aos-duration="3000">
					<h2 class="projectData__content__title">Estampados de línea</h2>
					<p class="projectData__content__text">Los <strong>desarrollos de línea</strong> NO son exclusivos. <br>Cualquier cliente que quiera adquirirlos debe saber que pueden estar siendo utilizados por más clientes. <br> En caso de querer reservarlos y usarlos de forma exclusiva, será así desde el momento de compra, sabiendo que, si ya ha sido adquirido por alguien más con anterioridad, este puede seguir siendo utilizado. <br> <strong>En este caso será informado al momento de la compra. </strong> </p>
					<p class="projectData__content__text">Si te interesa alguno de estos diseños, <a href="../views/contact.html">escribime!</a></p>		
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/rainbows.jpg" alt="arcoiris">
					<h4><STRONG> RAINBOWS </STRONG><br> Rapport 32.1cm x 32.1cm <br>Cilíndro, sublimación o digital <span class="badge badge-secondary"> Nuevo </span> </h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/brunch1.jpg" alt="brunch">
					<h4><STRONG> BRUNCH </STRONG><br> Rapport 32.1cm x 32.1cm <br>Cilíndro, sublimación o digital <span class="badge badge-secondary"> Nuevo </span> </h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/candyStar.jpg" alt="rayas y estrellas">
					<h4><STRONG> CANDY STAR </STRONG><br> Rapport 32,1cm x 32,1cm <br>Cilíndro, sublimación o digital <span class="badge badge-secondary"> Nuevo </span> </h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/graffiti.jpg" alt="graffiti">
					<h4><STRONG> GRAFFITI </STRONG><br> Rapport 40cm x 40cm <br>Schablon, sublimación o digital <span class="badge badge-secondary"> Nuevo </span> </h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/animalVicchy.jpg" alt="animal print">
					<h4><STRONG> ANIMAL VICCHY </STRONG><br> Rapport 32.1cm x 32.1cm <br>Cilíndro, sublimación o digital <span class="badge badge-secondary"> Nuevo </span> </h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/rock.jpg" alt="garabato rock">
					<h4><STRONG> ROCK DOODLE </STRONG><br> Rapport 80cm x 80cm <br>Schablon, sublimación o digital <span class="badge badge-secondary"> Nuevo </span> </h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/bearStar.jpg" alt="oso estrellas">
					<h4><STRONG> STARRY BEAR </STRONG><br> Rapport 32.1cm x 32.1cm <br>Cilíndro, sublimación o digital <span class="badge badge-secondary"> Nuevo </span> </h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/watermelon.jpg" alt="sandia">
					<h4><STRONG> WATERMELON LOVE </STRONG><br> Rapport 64.2cm x 64.2cm <br>Cilíndro, sublimación o digital <span class="badge badge-secondary"> Nuevo </span> </h4>
				</div>	
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/poppy.jpg" alt="amapola">
					<h4><STRONG> POPPY </STRONG><br> Rapport 64.2cm x 64.2cm <br>Cilíndro, sublimación o digital </h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/butterfly.jpg" alt="mariposa">
					<h4><STRONG> BUTTERFLY </STRONG><br> Rapport 40cm x 40cm <br>Schablon, sublimación o digital </h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/flyingHeart.jpg" alt="corazon alado">
					<h4><STRONG> FLYING HEARTS </STRONG><br> Rapport 40cm x 40cm <br>Schablon, sublimación o digital </h4>
				</div>
				<div class="col-lg-3 col-sm-6 col-xs-12 projectData__img" data-aos="fade-up" data-aos-duration="3000">
					<img src="../assets/img/line/words.jpg" alt="palabras">
					<h4><STRONG> WORDS </STRONG><br> Rapport 64.2cm x 64.2cm <br>Cilíndro, sublimación o digital </h4>
				</div>					
			</div>	
			<!-- termina proyectos -->

			<!-- empieza FOOTER -->
			<div class="row footer__background--color">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<footer class="footer">
						<a href="projects.html#top">
							<img src="../assets/img/logoMMX.svg" alt="Logo" class="footer__img">
						</a>
						<div class="footer__socialMedia">
							<p class="footer__text">Seguime en</p>
							<a href="https://www.instagram.com/" target="_blank"><img src="../assets/img/logo-Ig.svg " alt="logo instagram" class="footer__socialMedia__icon"></a>
							<a href="https://www.facebook.com/" target="_blank"><img src="../assets/img/logo-Fb.svg " alt="logo facebook" class="footer__socialMedia__icon"></a>
							<a href="https://www.linkedin.com/in/mmxifra" target="_blank"><img src="../assets/img/logo-In.svg " alt="logo linkedin" class="footer__socialMedia__icon"></a>
						</div>
					</footer>
				</div>
				<div class="col-lg-12 col-sm-12 col-xs-12" class="footer__copy">
					<p class="footer__text">Diseño y desarrolo de <a href="https://www.linkedin.com/in/mmxifra" target="_blank">María Manuela Xifra</a><br>©Todos los derechos reservados.</p>			
				</div>	
			</div>
			<!-- termina FOOTER -->
		</div>

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

	<!-- js AOS -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script> 
		AOS.init();
	</script>
	</body>
</html>